{{extend 'layout.html'}}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>  {{ if session.forced_language =='de': }}
              Unsere Partner
                {{elif session.forced_language =='en': }}
              Our Partners
            {{pass}}
            </h3>

<div class="box">
 
      
 
 
  
   
  
     <div class="media">
      <div class="media-left pull-left partner-logo">
        <img src="../static/images/about_us/partners/pkp_logo.png" class="pull-left media-object" style="height: 80px" alt="" />
      </div>
      <div class="media-body">
          <p class="media-heading"><a href="https://pkp.sfu.ca" target="_self"><strong>PKP Public Knowledge Project</strong>&nbsp;<i class="fa fa-external-link"></i></a> </p>
        
          <p class="beiratBeschreibung">PKP is a multi-university initiative developing (free) open source software and conducting research to improve the quality and reach of scholarly publishing.
          </p>
      
      </div>
  </div>
  
          
  
  </div>  


        </div>
    </div>
  </div>  
