{{extend 'layout.html'}}
<script type="text/javascript" charset="utf-8">
$(window).load(function() {
$('.flexslider').flexslider();
}); 

</script>
<div class="container">
    <!-- end header -->
    <section id="featured">
        <!-- start slider -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Slider -->
                    <div id="main-slider" class="flexslider">
                        <ul class="slides">
                            <li>
                                <img alt="" id="hup-logo"
                                     src="{{=URL('static','images/press/slideshow/01_claim_tablet.de.jpg')}}"/>
                                <div class="flex-caption hidden-xs hidden-sm"><h3>{{=T('Das Profil von heiUP')}}</h3>
                                    {{=A(T('More'),_href=URL('about_us','profile'), _class='btn btn-theme')}}
                                    <!--<a href="./about_us/profile.html" class="btn btn-theme">Mehr</a>-->
                                </div>
                            </li>

                        </ul>
                    </div>
                    <!-- end slider -->
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>New titles</h4>
                                    <p class="boxText">Text<b></b></p>
                                </div>
                                <div class="box-bottom">
                                    {{=A(T('More Information'),_href=URL('catalog','book/206'))}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>New titles</h4>
                                    <p class="boxText">Text<b></b></p>
                                </div>
                                <div class="box-bottom">
                                    {{=A(T('More Information'),_href=URL('catalog','book/206'))}}
                                </div>
                            </div>
                        </div>
                        <div id="boxAktuelles" class="col-lg-3">

                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>New titles</h4>
                                    <p class="boxText">Text<b></b></p>
                                </div>
                                <div class="box-bottom">
                                    {{=A(T('More Information'),_href=URL('catalog','book/206'))}}
                                </div>
                            </div>
                        </div>

                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>New titles</h4>
                                <p class="boxText">Text<b></b></p>
                            </div>
                            <div class="box-bottom">
                                {{=A(T('More Information'),_href=URL('catalog','book/206'))}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">

                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Coming soon</h4>
                                <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text </p>
                            </div>
                            <div class="box-bottom">
                                {{=A(T('More Information'),_href=URL('catalog','index.html'))}}
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Coming soon</h4>
                                <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text </p>
                            </div>
                            <div class="box-bottom">
                                {{=A(T('More Information'),_href=URL('catalog','index.html'))}}
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Coming soon</h4>
                                <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text </p>
                            </div>
                            <div class="box-bottom">
                                {{=A(T('More Information'),_href=URL('catalog','index.html'))}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Coming soon</h4>
                                <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text </p>
                            </div>
                            <div class="box-bottom">
                                {{=A(T('More Information'),_href=URL('catalog','index.html'))}}
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
</div>
